/* Header.css */
header {
    background-color: white;
    padding: 10px;
    position: fixed; /* Fixe la position en haut de la page */
    top: 0; /* Positionne le header en haut */
    left: 0; /* Aligne le header à gauche */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Occupe toute la largeur de la page */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optionnel : ajoute une ombre pour un effet de profondeur */
    z-index: 1000; /* Assure que le header reste au-dessus des autres éléments */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Utilise flexbox pour aligner les éléments horizontalement */
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #007bff;
    padding: 8px 16px; /* Ajoute du padding pour rendre les liens plus cliquables */
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  